body{
	padding: 0;
	margin: 0;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/*标题*/
.tit{
	min-width: 1200px;
}
.tit h2{
	text-align: center;
	font-size: 36px;
	color: #27364e;
	line-height: 0
}
.tit p{
	text-align: center;
	opacity: 0.7;
}
/*banner图*/
.pic1{
	padding: 8% 23% 0 23%;
	width: 55%;
}
/*内容区域*/
.content{
	background-color: #fafafa;
	display: block;
	height: 850px;
	padding: 0;
	width: 100%;
	
}
.cont{
	width:1230px; 
	text-align: center;
	margin: 40px auto;
}

.cont li {
	list-style: none;
	width: 360px;
	height: 360px;
	background-color: white;
	display: inline-block;
	float: left;
	margin: 18px;
}
.cont li img{
	width: 90px;
	height: 90px;
	margin: 60px 0 0 0;
}
.cont li p{
	text-align: left;
	padding: 20px 60px 0px 60px;
	opacity: 0.7;
	font-size: 14px;
	line-height: 1.7;
}
/*联系方式*/
.info{
	text-align: center;
	width: 1200px;
	margin: 80px auto 0 auto;
}
.infol{
	float: left;
	width: 50%
}
.infor{
	float: right;
	width: 50%
}
.info h2{
	font-weight:inherit;
}
.info p{
	font-size: 13px;
	opacity: 0.7;
}
.info input{
	width: 250px;
	margin: 25px 0 0 0;
	padding: 0 20px;
	height: 30px;
	border: thin dotted #FFFFF;
}
.info button{
	height: 35px;
	width: 100px;
	background-color: #409EFF;
	border: 0;
	margin-top: 30px;
	border-radius: 5px;
	font-size: 16px;
	color: white;
}
.infor img{
	margin: 30px
}
.infor span{
	color: #4d91ff;
	font-size: 26px
}
/*三角形*/
.main{
	position: relative;
	z-index: -1;
}

.floatl{
	position: absolute;
	float: left;
	margin-top: -1140px;
	z-index: 130;
}
.floatr{
	z-index: 120;
	float: right;
	bottom: 0;
	margin-top: -560px;
	position: relative;
}