/*banner图*/
.ban{
	position: relative;
	width: 100%;
	width: 1920px;
}
.bg{
	position: absolute;
	z-index: -1;
	width: 100%;
	margin-top: 60px;
}
.ban h2{
	text-align: center;
	font-size: 36px;
	color: #27364e;
	line-height: 0
}
.ban p{
	text-align: center;
	opacity: 0.7;
}
.bg1{
	padding: 134px 430px 430px;
	position: absolute;
	z-index: 10;
	width: 1060;
	height: auto;
	margin: 0 auto;
	text-align: center
}