#main{
	width: 1280px;
	margin: 0 auto;
} 
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}
.jobl{
	float: left;
	width: 15%;
	box-sizing: border-box;
	padding-top: 18px
}
.jobr{
	float: right;
	width: 85%;
	margin-bottom: 60px
}
.jobr h3{
	line-height: 1.2;
}
.jobr li{
	line-height: 1.5;
	color: rgb(100,100,100);
	list-style: none;
	margin-left: -40px;
}